<div class="card-group">
  <div class="card">
    <img src="img/snakewatergun.png" class="card-img-top cardimage" alt="snake img with gun">
    <div class="card-body">
      <h5 class="card-title">Snake, Water and Gun Game</h5>
      <p class="card-text">Welcome to the classic Snake Water Gun game, brought to life in the digital realm! Challenge your wits and instincts as you face off against the computer in this timeless battle of choices.</p>
     
    </div>
      <button class="viewProject btn btn-primary"><a class="viewlink" href="https://snake-water-and-gun-game.adityachauhan25.repl.co/" target="_blank">View Project</a></button>
  </div>
  <div class="card">
    <img src="img/digitalclock.jpg" class="card-img-top cardimage" alt="digital clock">
    <div class="card-body">
      <h5 class="card-title">Digital Clock</h5>
      <p class="card-text">Introducing our sleek and stylish digital clock, a masterpiece crafted with JavaScript to elevate your timekeeping experience. With a modern and minimalist design, our digital clock not only displays the precise time but also adds a touch of elegance to any website or application.</p>
    </div>
      <button class="viewProject  btn btn-primary"><a href="https://digital-clock.adityachauhan25.repl.co/" class="viewlink" target="_blank">View Project</a></button>
  </div>
   <div class="card">
    <img src="img/dictionary.png" class="card-img-top cardimage" alt="man with alot of books">
    <div class="card-body">
      <h5 class="card-title">My Digital Dictionary</h5>
      <p class="card-text">Discover the world of words with our user-friendly digital dictionary website. Find meanings, synonyms, and examples, enhancing your language skills effortlessly. Your language companion for learning and exploration.</p>
     
    </div>
      <button class="viewProject btn btn-primary"><a href="https://mydigitaldictionary.adityachauhan25.repl.co/" class="viewlink" target="_blank">View Project</a></button>
  </div>
  
</div>
<br><br><br>
<div class="card-group">
 
  <div class="card">
    <img src="img/calculator.jpg" class="card-img-top cardimage cardimage" alt="man calculating something">
    <div class="card-body">
      <h5 class="card-title">Calculator</h5>
      <p class="card-text">
Introducing our innovative calculator project, powered by JavaScript, for swift and accurate computations. This sleek web-based calculator offers a seamless user experience, with a modern interface and responsive design. Perform basic arithmetic, complex operations, and more with ease, making math a breeze!</p>
    </div>
      <button class="viewProject  btn btn-primary"><a href="https://calculator.adityachauhan25.repl.co/" class="viewlink" target="_blank">View Project</a></button>
  </div>
  <div class="card">
    <img src="img/motivation.jpg" class="card-img-top cardimage cardimage" alt="man holding a trophie">
    <div class="card-body">
      <h5 class="card-title">Random Motivational Quotes</h5>
      <p class="card-text">
Elevate your spirits with our inspiring project that showcases random motivational quotes. Powered by JavaScript, this uplifting web application delivers a new dose of positivity with each click. Stay motivated, energized, and ready to conquer challenges, as our project spreads positivity and encouragement to brighten your day.</p>
    </div>
      <button class="viewProject  btn btn-primary"><a href="https://quotes.adityachauhan25.repl.co/" class="viewlink" target="_blank">View Project</a></button>
  </div>
  <div class="card">
    <img src="img/notes.png" class="card-img-top cardimage cardimage" alt="a woman writing notes on a paper">
    <div class="card-body">
      <h5 class="card-title">Notes Taking Website</h5><hr>
      <p class="card-text">
Introducing our convenient note-saving project, designed to effortlessly store your thoughts and ideas. Built with JavaScript, this user-friendly web application allows you to type, save, and organize notes securely. Never lose a brilliant idea again - stay productive and organized with our reliable note-saving solution.</p>
    </div>
      <button class="viewProject  btn btn-primary"><a href="https://mynotes.adityachauhan25.repl.co/" class="viewlink" target="_blank">View Project</a></button>
  </div>
 
</div><br><br><br>

<h5>Upcoming Project</h5>
<div class="card-group">
 
     <div class="card">
        <div class="card__image loading"></div>
        <div class="card__title loading"></div>
        <div class="card__description loading"></div>
      <button class="viewProject  btn btn-primary" disabled="true"><i>Comming soon...</i></button>
    </div>
   <div class="card">
        <div class="card__image loading"></div>
        <div class="card__title loading"></div>
        <div class="card__description loading"></div>
      <button class="viewProject  btn btn-primary" disabled="true"><i>Comming soon...</i></button>
    </div>
  
       <div class="card">
        <div class="card__image loading"></div>
        <div class="card__title loading"></div>
        <div class="card__description loading"></div>
      <button class="viewProject  btn btn-primary" disabled="true"><i>Comming soon...</i></button>
    </div>

 
</div>


